{% extends "layout.twig" %}



{% block content %}

{{widget('feature', 'featurehome', {"header": "profile", "defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50%','showBtn': true, "buttonText":"Lorem Ipsum"})|raw}}

<section class="page  page--home">

	<!-- Zone Content -->
	<div class="zone-content">
		<!-- Main Widet Zone -->
   		{{zone('main')|raw}}
	</div>
	<!-- End Zone Content -->

</section>

<!-- End Home Page Content -->
{% endblock %}
