<!doctype html>

<html class="no-js" lang="{{ page.seoLang }}">

	{% include "includes/head.twig" %}

	<body class="{{ page.backgroundClass }} no-touch{% if app.mode != 'published' and app.mode != 'site-preview' %} edit-mode{% endif %}
">

		{% include "includes/header.twig" %}

		<div class="template-content">

			<!-- Ecom basket code here !-->
			
			{% block content %}
			{% endblock %}
			
			{% include "includes/footer.twig" %}
			
		</div>



	    {% include basekit.bodyScript %}

		<script src="{{ asset('js/theme.js')}}"></script>


	</body>

</html>
