<!-- Footer -->
<footer class="template-footer">

	<div class="container">
        {{widget('profile', 'profile1', { 'profileType':'socialicons' })|raw}}
        {{widget('profile', 'profile2', { 'profileType':'email' })|raw}}
        {{widget('profile', 'profile3', { 'profileType':'phone' })|raw}}
	</div>

</footer>
<!-- End Footer -->